.lis li{
    padding-left:40px;
    margin-bottom:18px;
    position:relative;
}

.lis li::before {
    content: "";
    left: 0;
    top: 0.2em;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right:10px;
    position: absolute;
    margin-bottom:18px;
    text-align: start;
}

.lis li:nth-child(1)::before {
    background-image:url("ressources/icon-list-1/arrow-up-right.png");
    height: 30px;
    width:30px;
}
.lis li:nth-child(2)::before{
    background-image:url("ressources/icon-list-1/Icon stylos.png");
}
.lis li:nth-child(3)::before{
    background-image:url("ressources/icon-list-1/Icon fleches.png");
}
.lis li:nth-child(4)::before{
    background-image:url("ressources/icon-list-1/Icon star.png");
}
.lis li:nth-child(5)::before{
    background-image:url("ressources/icon-list-1/clock-backward icon.png");
}
.lis li:nth-child(6)::before{
    background-image:url("ressources/icon-list-1/Icon commentaire.png");
}



.listcree li{
    margin-bottom:18px;
    padding-left:40px;
    text-align:start;
    position: relative;
  
}

.listcree li::before {
    content: "";
    left:0;
    top: 0.2em;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin-bottom:18px;
    
}

.listcree li:nth-child(1)::before{
    background-image:url("ressources/icon-list-2/Icon-main.png");
}
.listcree li:nth-child(2)::before{
    background-image:url("ressources/icon-list-2/Icon-coeur.png");
}
.listcree li:nth-child(3)::before{
    background-image:url("ressources/icon-list-2/Icon-stylos-pour-2-list.png");
}
.listcree li:nth-child(4)::before{
    background-image:url("ressources/icon-list-2/Icon-parametre.png");
}
.listcree li:nth-child(5)::before{
    background-image:url("ressources/icon-list-2/user-profile.png");
}