body{
font-family: "Montserrat", sans-serif;
margin: 0%;
padding: none;
min-width: 1200px;
max-width: 100%;
font-size:16px;
}

/*entete barre bleu*/

.entete{
    background-color: #152237;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

#logo1{
    width: 84px;
    height: 31px;
    align-self: center;
    display: block;
}

#coninsc{
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchBar{
    box-sizing: border-box;
    border-radius: 6px;
    border:2px solid #FFFFFF;
    overflow: hidden;
    width: 477px;
    height: 40px;
    display: flex;
    align-items: center;
}
#searchBar{
      background-color: #152237;
      width: auto;
    height: 40px;
    color: #FFFFFF;
    border: none;
    padding: 0 10px;
    flex: 1;
}
#loupe{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 18px;
    padding: 5px;
}
.img-loupe{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
#liens{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.connexion{
    border-radius: 6px;
  background-color: #FFFFFF;
  border: none;
  width: 130px;
    height: 40px;
}
.inscription{
    border-radius: 6px;
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    border: none;
    width: 130px;
    height: 40px;
}
/*fin entete*/

/*1er section grd photo*/

.accueil{
    background-image: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%), url('ressources/bg-header.png');
    background-size: cover;
    background-position: center;
    height: 451px;
    
}

h1{
   color:#152237;
   margin: 0%;
   font-weight:800;
   letter-spacing: -1.5%;
   font-size: 48px;
   text-transform: uppercase;
}
.titre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 60vh;
   
}
#textephoto{
    margin: 0.1%;
    padding:2px;
    font-size:20px;
    font-weight:500;
}
#savoirplus{
    border-radius:6px;
    border:none;
    width:130px;
    height: 40px;
    margin-top:20px;
}
/*fin 1er section*/

/* 2eme et 3eme section formation popullaire et recente*/

.boites{
    display:flex;
    justify-content: center;
    padding:0px;
    margin:0px;
    gap: 90px;
  
}

.formationPop{
    margin: 0px auto;
    background-color: #FFFFFF;
    height: 632px;
    
}
.f2, .f{
    padding-right:0px;
   align-items: center;
   justify-content: center;
   width:300px;
   height: 362px;;
   position: relative;

}

#imgpop, #imgrec{
    height: 206px;
    width:300px;
}

#imgpopfin, #imgrec:last-child{
    padding-right:0px;
    height: 206px;
    width:300px;
}
.formationpop{
    margin-left:25px;
    margin-top:53px;
    margin-bottom:40px;
    font-size: 36px;
    color: #152237;
    text-align: left;
}
.formationRec{
    background-color: #152237;
    height: 685px;;
}
.formationsrec{
    color: #FFFFFF;
    font-size: 36px;
    padding-top:53px;
    padding-bottom:53px;
    margin:0px 25px;
    text-align: left;
}
.f2{
    color: #FFFFFF;
}
.plusForma1{
    margin-top:28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   border: none;
   border-radius: 6px;
   height: 40px;
   width: 225px;
   background-color: #152237;
   color: #FFFFFF;
}

.plusForma2{
     margin-top:30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   border: none;
   border-radius: 6px;
   height: 40px;
   width: 225px;
   background-color:#FFFFFF;
   color:#152237;
}
.nomImg{
font-size:24px;
font-weight: 700;
margin: 0px 0px;
padding-top:25px;
}
.autorForma, .descForma{
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    margin:7px 0px;
}
.pr, .pr1{
   border:1px solid;
   border-radius: 93px;
   display: inline-block;
   width:120px;
   height:31.58px;
   padding:1px;
   position: absolute;
   bottom: -10px;
   right:10px;
   background-color: #FFFFFF;
   border:none;
}
.P, .P1{
    margin:0px;
    text-align: center;
    font-size:20px;
    font-weight:700;
    justify-content: center;
    color: #152237;
    padding:4px;
    font-family: 'Montserrat',sans-serif;
}
.prix{
    font-size:10px;
    text-decoration: line-through;
    font-style:normal;
    font-weight: 400;
}
.img-t{
    position:relative;
    display: inline-block;
}
.pr1{
    background-color: #152237;
    
}
.P1{
    color: #FFFFFF;
}
.f{
    color: #152237;
}
[data-active="true"]{
color:#FFC700;
 
}
[data-active="false"]{
    color:#FFC7004D;
}
/*fin section 2 et 3 */

/*avis */

.davis{
    display: flex;
    justify-content: center;
    margin-left:90px;
    margin-right:0px;
    margin-bottom:150px;
    gap: 30px;
}
.avisP{
    width:656px;
    height:90px;
    line-height: 30px;
    letter-spacing: -0.015em;
    font-weight: 400;
}

h2{
    text-align: center;
    font-size:40px;
    font-weight: 900;
}
.imgA{
    border-radius:50%;
    width:139px;
    height:139px;
}
.avisNom{
    font-size:24px;
    font-weight:700;
}

.creeforma{
    width: 727px;
    height: 472px;
    object-fit: cover;
}
/*fin avis*/

/*debut avantages klivio*/

.avanta{
   display:flex;
   align-items: flex-start;
   justify-content: space-between; 
margin:0px 80px;
padding-top: 90px;
}
.av{
 margin-top: 0px;
 padding-right: 130px;
 color: #152237;
 font-weight: 900;
font-style: Black;
font-size: 40px;
line-height: 36px;
letter-spacing: -1.5%;
text-transform: uppercase;
}
.imgav{
    width: 727px;
    height: 472px;
}
.list{
    padding-top: 0px;
    flex-direction: column;
}
.avantages{
    height: 641px;
    background-color: #F5F5F5;
   
}
.lis{
width: 616px;
height: 295px;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: -0.015em;
padding-left:0px;
list-style:none;
padding-left:0px;
}

.lis li{
   position:relative;
   padding-left:40px;
   margin-bottom:18px;
}

.lis li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.2em;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-right:10px;
}

.lis li:nth-child(1)::before {
    background-image:url("ressources/icon-list-1/Icon-fleches-coter.png");
}
.lis li:nth-child(2)::before{
    background-image:url("ressources/icon-list-1/Icon stylos.png");
}
.lis li:nth-child(3)::before{
    background-image:url("ressources/icon-list-1/Icon fleches.png");
}
.lis li:nth-child(4)::before{
    background-image:url("ressources/icon-list-1/Icon star.png");
}
.lis li:nth-child(5)::before{
    background-image:url("ressources/icon-list-1/clock-backward icon.png");
}
.lis li:nth-child(6)::before{
    background-image:url("ressources/icon-list-1/Icon commentaire.png");
}
/*fin avantages klivio*/

/*debut creer formation klivio*/

.cree{
    height:641px;
    background-color: #44DD8A;
}

.creek{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top:60px;
    margin: 0px 80px;
    gap: 70px;
}

.listh2{
    flex-direction: column;
}

.listcree{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.5%;
    
   

}

