body{
font-family: "Montserrat";
margin: 0%;
padding: none;
min-width: 1200px;
max-width: 100%;
font-size:16px;
}
.entete{
    background-color: #152237;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
   /* padding: 0 0px;*/
}

#logo1{
    width: 84px;
    height: 31px;
    align-self: center;
    display: block;
}

#coninsc{
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchBar{
    box-sizing: border-box;
    border-radius: 6px;
    border:2px solid #FFFFFF;
    overflow: hidden;
    width: 477px;
    height: 40px;
    display: flex;
    align-items: center;
}
#searchBar{
      background-color: #152237;
      width: auto;
    height: 40px;
    color: #FFFFFF;
    border: none;
    padding: 0 10px;
    flex: 1;
}
#loupe{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 18px;
    padding: 5px;
}
.img-loupe{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
#liens{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.connexion{
    border-radius: 6px;
  background-color: #FFFFFF;
  border: none;
  width: 130px;
    height: 40px;
}
.inscription{
    border-radius: 6px;
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    border: none;
    width: 130px;
    height: 40px;
}

.accueil{
    background-image: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%), url('ressources/bg-header.png');
    background-size: cover;
    background-position: center;
    height: 451px;
    
}

h1{
   color:#152237;
   margin: 0%;
   font-size: 48px;
}
.titre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 60vh;
   
}
#textephoto{
    margin: 0.5%;
}
#savoirplus{
    border-radius:6px;
    border:none;
    width:130px;
    height: 40px;
    margin-top:20px;
}
.boites{
    display:flex;
    justify-content: center;
    padding:0px;
    margin:0px;
    gap: 60px;
  
}
/*.formationsrec, .formationspop{
   margin: 0px;
}*/
.formationPop{
    margin: 0px 70px;
    background-color: #FFFFFF;
    height: 632px;;
    
}
.f2, .f{
    padding-right:0px;
   align-items: center;
   justify-content: center;
   width:300px;
   height: 362px;;
   position: relative;

}

#imgpop, #imgrec{
    height: 206px;
    width:300px;
}

#imgpopfin, #imgrec:last-child{
    padding-right:0px;
    height: 206px;
    width:300px;
}
.formationpop{
    margin:53px;
    margin-left:0px;
    margin-right:0px;
    font-size: 36px;
    color: #152237;
}
.formationRec{
    background-color: #152237;
    height: 685px;;
}
.formationsrec{
    color: #FFFFFF;
    font-size: 36px;
    padding-top:53px;
    padding-bottom:53px;
    margin:0px;
    margin-left:70px;
}
.f2{
    color: #FFFFFF;
}
.plusForma1{
    margin-top:115px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   border: none;
   border-radius: 6px;
   height: 40px;
   width: 225px;
   background-color: #152237;
   color: #FFFFFF;
}

.plusForma2{
     margin-top:115px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   border: none;
   border-radius: 6px;
   height: 40px;
   width: 225px;
   background-color:#FFFFFF;
   color:#152237;
}
.nomImg{
font-size:24px;
font-weight: 700;
margin: 0px 0px;
padding-top:15px;
}
.autorForma, .descForma{
    font-weight: 400;
    font-family: 'Montserrat';
}
.pr, .pr1{
   border:1px solid;
   border-radius: 93px;
   display: inline-block;
   width:120px;
   height:31.58px;
   padding:1px;
   position: absolute;
   bottom: -10px;
   right:10px;
   background-color: #FFFFFF;
   border:none;
}
.P, .P1{
    margin:0px;
    text-align: center;
    font-size:20px;
    font-weight:700;
    justify-content: center;
    color: #152237;
}
.prix{
    font-size:10px;
    text-decoration: line-through;
    font-style:normal;
}
.img-t{
    position:relative;
    display: inline-block;
}
.pr1{
    background-color: #152237;
    
}
.P1{
    color: #FFFFFF;
}
.f{
    color: #152237;
}
[data-active="true"]{
color:#FFC700;
 
}
[data-active="false"]{
    color:#FFC7004D;
}

.davis{
    display: flex;
    align-items: center;
    margin:0px 90px;
    margin-bottom:150px;
}
.avisP{
    width:656px;
    height:90px;
    line-height: 30px;
    letter-spacing: -0.015em;
    font-weight: 400;
}

h2{
    text-align: center;
    font-size:40px;
    font-weight: 900;
}
.imgA{
    border-radius:50%;
    width:139px;
    height:139px;
}
.avisNom{
    font-size:24px;
    font-weight:700;
}

.creeforma{
    width: 727px;
    height: 472px;
    object-fit: cover;
}
.list{
   
}
.avanta{
   display:flex;
   align-items: center;
   justify-content: space-between; 
   margin:0px 90px;
}
.av{
    text-align: start;
    margin:0px 30px;
    padding:40px 0px;
}
.avantages{
    background-color: #F5F5F5;
}
.lis{
width: 616px;
height: 295px;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: -0.015em;
list-style:none;
padding-left:0px;
}
#list-1-1{
    list-style-image:url("/root/site_klivio/site-klivio/ressources/icon list 1/Icon fleches coter.png");
    padding-left:40px;
}