
html{
    overflow-x: hidden;
}

body{
font-family: "Montserrat", sans-serif;
margin: 0%;
padding: none;
max-width: 100%;
font-size:16px;
}

/*entete barre bleu*/

.entete{
    background-color: #152237;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

#logo1{
    width: 84px;
    height: 31px;
    align-self: center;
    display: block;
}

#coninsc{
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchBar{
    box-sizing: border-box;
    border-radius: 6px;
    border:2px solid #FFFFFF;
    overflow: hidden;
    width: 477px;
    height: 40px;
    display: flex;
    align-items: center;
}
#searchBar{
      background-color: #152237;
      width: auto;
    height: 40px;
    color: #FFFFFF;
    border: none;
    padding: 0 10px;
    flex: 1;
}
#loupe{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 18px;
    padding: 5px;
}
.img-loupe{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
#liens{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.connexion{
    border-radius: 6px;
  background-color: #FFFFFF;
  border: none;
  width: 130px;
    height: 40px;
}
.inscription{
    border-radius: 6px;
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    border: none;
    width: 130px;
    height: 40px;
}
/*fin entete*/

/*1er section grd photo*/

.accueil{
    background-image: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%), url('ressources/bg-header.png') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 451px;
    
}

h1{
   color:#152237;
   margin: 0%;
   font-weight:800;
   letter-spacing: -1.5%;
   font-size: 48px;
   text-transform: uppercase;
}
.titre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 60vh;
   
}
#textephoto{
    margin: 0.1%;
    padding:2px;
    font-size:20px;
    font-weight:500;
}
#savoirplus{
    border-radius:6px;
    border:none;
    width:130px;
    height: 40px;
    margin-top:20px;
}
/*fin 1er section*/

/* 2eme et 3eme section formation popullaire et recente*/

.boites{
    display:flex;
    justify-content: center;
    padding:0px;
    margin:0px;
    gap: 90px;
  
}

.formationPop{
    margin: 0px auto;
    background-color: #FFFFFF;
    height: 632px;
    
}
.f2, .f{
    padding-right:0px;
   align-items: center;
   justify-content: center;
   width:300px;
   height: 362px;;
   position: relative;

}

#imgpop, #imgrec{
    height: 206px;
    width:300px;
}

#imgpopfin, #imgrec:last-child{
    padding-right:0px;
    height: 206px;
    width:300px;
}
.formationpop{
    margin-left:25px;
    margin-top:53px;
    margin-bottom:40px;
    font-size: 36px;
    color: #152237;
    text-align: left;
}
.formationRec{
    background-color: #152237;
    height: 685px;
}
.formationsrec{
    color: #FFFFFF;
    font-size: 36px;
    padding-top:53px;
    padding-bottom:53px;
    margin:0px 25px;
    text-align: left;
}
.f2{
    color: #FFFFFF;
}
.plusForma1{
    margin-top:28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   border: none;
   border-radius: 6px;
   height: 40px;
   width: 225px;
   background-color: #152237;
   color: #FFFFFF;
}

.plusForma2{
     margin-top:30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   border: none;
   border-radius: 6px;
   height: 40px;
   width: 225px;
   background-color:#FFFFFF;
   color:#152237;
}
.nomImg{
font-size:24px;
font-weight: 700;
margin: 0px 0px;
padding-top:25px;
}
.autorForma, .descForma{
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    margin:7px 0px;
}
.pr, .pr1{
   border:1px solid;
   border-radius: 93px;
   display: inline-block;
   width:120px;
   height:31.58px;
   padding:1px;
   position: absolute;
   bottom: -10px;
   right:10px;
   background-color: #FFFFFF;
   border:none;
}
.P, .P1{
    margin:0px;
    text-align: center;
    font-size:20px;
    font-weight:700;
    justify-content: center;
    color: #152237;
    padding:4px;
    font-family: 'Montserrat',sans-serif;
}
.prix{
    font-size:10px;
    text-decoration: line-through;
    font-style:normal;
    font-weight: 400;
}
.img-t{
    position:relative;
    display: inline-block;
}
.pr1{
    background-color: #152237;
    
}
.P1{
    color: #FFFFFF;
}
.f{
    color: #152237;
}
[data-active="true"]{
color:#FFC700;
 
}
[data-active="false"]{
    color:#FFC7004D;
}
/*fin section 2 et 3 */

/*avis */

.davis{
    display: flex;
    justify-content: center;
    margin-left:90px;
    margin-right:0px;
    margin-bottom:150px;
    gap: 30px;
}
.avisP{
    width:656px;
    height:90px;
    line-height: 30px;
    letter-spacing: -0.015em;
    font-weight: 400;
}

h2{
    text-align: center;
    font-size:40px;
    font-weight: 900;
    color: #152237;
}
.imgA{
    border-radius:50%;
    width:139px;
    height:139px;
}
.avisNom{
    font-size:24px;
    font-weight:700;
}


/*fin avis*/

/*debut avantages klivio*/

.avanta{
   display:flex;
   align-items: flex-start;
   justify-content: space-between; 
margin:0px 80px;
padding-top: 90px;
}
.av{
 margin-top: 0px;
 padding-left: 40px;
 color: #152237;
 font-weight: 900;
/*font-style: Black;*/
font-size: 40px;
line-height: 36px;
/*letter-spacing: -1.5%;*/
text-transform: uppercase;
text-align: start;

}
.imgav{
    width: 727px;
    height: 472px;
}
.list{
    padding-top: 0px;
    flex-direction: column;
}
.avantages{
    height: 641px;
    background-color: #F5F5F5;
}
.lis{
    width: 616px;
    height: 295px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.015em;
    padding-left:0px;
    list-style:none;
    padding-left:0px;
}

.lis li{
    padding-left:40px;
    margin-bottom:18px;
    position:relative;
    color: #152237;
}

.lis li::before {
    content: "";
    left: 0;
    top: 0.2em;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right:10px;
    position: absolute;
    margin-bottom:18px;
    text-align: start;
}

.lis li:nth-child(1)::before {
    background-image:url("ressources/icon-list-1/arrow-up-right.png");
    height: 30px;
    width:30px;
}
.lis li:nth-child(2)::before{
    background-image:url("ressources/icon-list-1/Icon stylos.png");
}
.lis li:nth-child(3)::before{
    background-image:url("ressources/icon-list-1/Icon fleches.png");
}
.lis li:nth-child(4)::before{
    background-image:url("ressources/icon-list-1/Icon star.png");
}
.lis li:nth-child(5)::before{
    background-image:url("ressources/icon-list-1/clock-backward icon.png");
}
.lis li:nth-child(6)::before{
    background-image:url("ressources/icon-list-1/Icon commentaire.png");
}
/*fin avantages klivio*/

/*debut creer formation klivio*/

.cree{
    height:641px;
    background-color: #44DD8A;
}

.creek{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top:60px;
    margin: 0px 60px;
    gap: 70px;
}


.creeforma{
    width: 727px;
    height: 472px;
    object-fit: cover;
}



.listcree{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.5%;
    list-style: none;
}

.listcree li{
    margin-bottom:18px;
    padding-left:40px;
    text-align:start;
    position: relative;
    color: #152237;
}

.listcree li::before {
    content: "";
    left:0;
    top: 0.2em;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin-bottom:18px;
    
}

.listcree li:nth-child(1)::before{
    background-image:url("ressources/icon-list-2/Icon-main.png");
}
.listcree li:nth-child(2)::before{
    background-image:url("ressources/icon-list-2/Icon-coeur.png");
}
.listcree li:nth-child(3)::before{
    background-image:url("ressources/icon-list-2/Icon-stylos-pour-2-list.png");
}
.listcree li:nth-child(4)::before{
    background-image:url("ressources/icon-list-2/Icon-parametre.png");
}
.listcree li:nth-child(5)::before{
    background-image:url("ressources/icon-list-2/user-profile.png");
}

/* fin creer forma */

/*debut a proppos*/

.propos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}
.proposlogo{
    width: 430px;
    height: 155px;
    
}

.h2logo1, .h2logo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 640px;
    width:50%;
}

.pro{
    height: 295px;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #152237;
    padding-right: 50px;
}

.proposh2{
    text-align: start;
    color: #152237;
}

.h2logo1{
    background-color: #F5F5F5;
    align-items: flex-start;
    padding-left: 60px;
}  
.h2logo2{
    background-color: #152237;
    padding-left:20px;
}

/*fin a propos*/

/*debut contact*/

.contact{
    height:641px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formu{
    display: flex;
    flex-direction: row;
    align-items:start;
    padding: 0px 0px 50px 0px;
    margin: 0;
    
}
.nomC{
    margin-right:70px;
}
.nomC, .emailC{
    min-width:634px;
    height:45px;
    background-color: #152237;
    border: none;
}

input::placeholder{
   
    opacity:1;
    padding: 6px;
}

.msg{
    width:1335px;
    height: 194px;
    background-color: #152237;
    border:none;
    color: gray;
    padding: 6px;
}
.msgcon{
    padding-bottom: 50px;
}
.envoyerC{
    width:357px;
    height:45px;
    background-color: #44DD8A;
    border: none;
    border-radius: 6px;
}

.envoie{
    text-align: center;
}
.nous{
    margin-bottom:30px;
}

.contactB{
    border: none;
    border-bottom: 2px #44DD8A solid;
    margin-bottom:60px;
    width:350px;
}

/*fin contact*/

/*debut footer*/

footer{
    height:489px;
    background-color: #152237;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foot-1{
    background:linear-gradient(90.01deg, #44DD8A 2.38%, #18A0FB 100%);
    border: none;
    margin:0px;
    padding:0px;
    height:18px;
}

.mentions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.ment, .ment2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
}

.logofoot{
    width:243px;
    height:87px;
}
.pfoot{
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px;
}

.coordo, .legales{
    list-style: none;
    padding: 0;
}

.coordo{
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 31px;
}

.legales{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.coordo li{
    padding-left:30px;
    text-align:start;
    position: relative;
    text-indent: -40px;
}

.coordo li::before{
    content: "";
    right: 0;
    top: 0.2em;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left:30px;
    padding-right: 10px;
}

.coordo li:nth-child(1)::before{
    background-image: url("ressources/social-icon/marker-02.png");
}
.coordo li:nth-child(2)::before{
    background-image: url("ressources/social-icon/phone.png");
}
.coordo li:nth-child(3)::before{
    background-image: url("ressources/social-icon/mail-01.png");
}

.butt{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.foot-2{
    border: none;
    border-bottom: 2px #44DD8A solid;
    margin:0px 100px;
}

.social{
    margin: 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.since{
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.reseau{
    display: flex;
    align-items: center;
    gap: 15px;
}

.suivre{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

/*fin footer*/

.menu{
    display: none;
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 26px;
    cursor: pointer;
}

.menumob{
    display: flex;
    align-items: center;
    gap:15px;
}

/*debut responsive*/

@media (max-width:600px) {
    html{
        width: 100%;
        
    }

    body{
        width:100%;
        height:auto;
        overflow-x: hidden;
        margin:0;
        padding:0;
    }
    

    .menu{
        display: block;
        padding: 0px 20px;
    }

    .menumob{
        display: none;
        position: absolute;
        top: 80px;
        left:0;
        width: 100%;
        background-color: #152237;
        flex-direction: column;
        padding: 20px 0;
        z-index: 1000;
    }
    
    .accueil{
        height: auto;
        background-image: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%), url('ressources/pexels-polina-zimmerman.png') ;
        
    }

    .titre{
        min-height: 364px;
        width:100%;
         text-align: center;
        vertical-align: middle;
        line-height:auto;
        
        
    }

    h1{
        font-size:32px;
        height:auto;
        padding: 0 20px;
    }

    h4{
        font-size:20px;
        text-align: center;
        vertical-align: middle;
        height: auto;
        padding: 0 20px;
    }

    .entete{
    min-height: 80px;
    height: auto;
    justify-content: space-between;
        padding: 0 15px;
}

    .accueil, .entete, .formationPop, .formationRec, .avis, .avantages, .cree, .propos, .h2logo1, .h2logo2, .contact{
        height:auto;
        width:100%;
        min-width: none;
        padding: 0;
        padding-bottom:50px;
        margin: 0 auto;
    } 

   .boites, .mentions, .avis, .avantages, .titre{
    flex-direction: column;
    align-items: center;
    gap: 40px;
   }

   .f, .f2{
    width:100%;
    max-width:320px;
   }

    .davis, .avanta, .creek, .propos, .formu {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 0;
   
   }
    
    .searchBar, .nomC, .creeforma{
        width:100%;
        max-width:100%;
    }
    
    .formationpop, .formationsrec{
        text-align: center;
        margin-left:0;
    }
    
    .formationPop, .formationRec, .avantages, .cree, .contact, footer{
        height: auto;
        margin: 0;
    }

    img, p, article, h2, li, ul{
    max-width:100%;
    height:auto;
    
}
    .creek{
        display: flex;
        flex-direction: column;
    }

    .av{
        order: 1;
    }

    .avisNom{
        margin: 0 auto;
        margin-bottom: 5px;
    }

    

    .creeforma{
        order: 2;
    }

    .listcree{
        order: 3;
    }

    .lis{
        width:100%;
        max-width:100%;
        height:auto;
        padding-left:0;
    }

    .imgav, .creeforma{
        width: 100%;
        min-width: 324px;
        height: 243px;
    }

.avanta, .creek {
        padding: 0 20px; 
    }

    .listcree{
        padding-left: 0;
    }

    .listcree li::before{
        width: 30px;
        height: 30px;
    }

    .lis li::before{
        width: 32px;
        height: 32px;
    }

    .lis li:nth-child(1)::before{
        width:32px;
        height: 32px;
    }

    .nomC, .emailC, .msg{
        width:356px;
        height:auto;
        min-height:46px;
        margin: 0;
        
    
    }

    .creek .av {
        order: 1;
    }

    .creek .creeforma {
        order: 2;
    }

    .creek .listcree {
        order: 3;
    }
    
    .creek .jsp {
        display: contents;
    }

    .davis{
        gap: 20px;
        text-align: center;
    }
    
    .avisP{
        height: auto;
        width: auto;
        text-align: left;
        padding:0 20px;
    }

    .propos{
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    .h2logo2, .h2logo1{
        min-height:400px;
        width:100%;
        padding: 0;
        flex:1 0 auto;
    }

    .proposlogo{
        width: 214px;
        height:77px;
    }

    .proposh2{
        text-align: center;
        width: 100%;
    }

    .plusForma1, .plusForma2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .pro{
        height: auto;
        padding: 0 20px;
    }
    .formu{
        gap: 20px;
        padding-bottom:20px;
    }

    .contact{
        text-align: center;
    
    }

    .contactB{
        border: none;
        margin: 0;
        padding: 0;
    }

    h2, .nous{
        font-size: 30px;
        text-align: center;
    }
    
    .entete{
        padding-bottom: 0;
    }

    .social, .butt, .foot-2{
        display: none;
    }
    
    .mentions{
        padding: 40px 0px;
    }

    .legales, .coordo, .pfoot{
        text-align: center;
        align-items: center;
    }

    .ment, .ment2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;  
    }
    
    .nomC, .emailC{
        min-width: 356px;
    }
    
    .av{
        font-size: 30px;
        padding-top: 30px;
        margin: 0;
        text-align: center;
        padding-left: 0;
    }

    .creek{
        gap: 20px;
    }

}
 